#main-nav {
  background: $white;
  box-shadow: 0 0 8px rgba($full-black, $alpha: 0.2);
  .navbar-toggler {
    font-size: 1.85rem;
    right: 0;
    padding: 5px;
    color: lighten($primary-color, 11%);
    border: none;
    outline: none;
    @include actively-focused-on-hover;
  }
  .navbar-brand {
    color: lighten($full-black, 20%);
    font-weight: 900;
    
    @include heading-font;
    transition: 0.5s ease-in-out;
     @include actively-focused-on-hover;
  }
  .navbar-nav {
    .nav-item {
      //   margin-bottom: 1.5rem;
      .nav-link {
        font-size: .75rem;
        font-weight: 400;
        padding: 0.9rem;
        letter-spacing: .1px;
        color: $full-black;
        transition: 0.5s ease-out;
        @include heading-font;
        &:hover{
            color: lighten($primary-color, $amount: 12%);
            font-weight: 600;
        }
        &.active{
            color: lighten($primary-color, $amount: 12%);
            font-weight: 600;
        }
      }
    }
  }
}
