body{
    @include body-font;
    background: darken($white, $amount: 13%);
}
img{
    width: 100%;
    height: 100%;
}
.bold{
    font-weight: 600;
}
.sticky-top{
    top: -1%;
}
.text{
    color: $white;
    font-weight: 200;
}
.info{
    color: $secondary-color;
    font-size: 1rem;
}
.section{
    padding: 4rem 0 2rem;
}
.main-color{
    color: lighten($primary-color, 5%);
}
.pub-title{
    @include heading-font;
    font-size: .95rem;
}
.pub-body{
    @include serf-font;
    color: $gray-700;

}